<% content_for :page_title,  @post.title %>
<section class="section">
<div class="container">
<h1 class="title"><%= @post.title %></h1>
<div class="content">
    <%= @post.content %>
</div>
</div>
</section>